/Korovin_Evgenii_dz_1/.idea/Korovin_Evgenii_dz_1.iml
/Korovin_Evgenii_dz_1/.idea/misc.xml
/Korovin_Evgenii_dz_1/.idea/modules.xml
/Korovin_Evgenii_dz_1/.idea/inspectionProfiles/profiles_settings.xml
/Korovin_Evgenii_dz_1/.idea/vcs.xml
/Korovin_Evgenii_dz_1/.idea/workspace.xml
/Именование файлов ДЗ.txt
